*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/.gitignore
/.idea/encodings.xml
/app/src/androidTest/java/bug/rv/selection/ExampleInstrumentedTest.kt
/app/src/test/java/bug/rv/selection/ExampleUnitTest.kt
/.idea/gradle.xml
/.idea/misc.xml
/app/proguard-rules.pro
/.idea/runConfigurations.xml
